# Dependency directories
node_modules/
**/node_modules/

# Local env files
.env
.env*.local
**/.env
**/.env*.local

# Next.js build output
.next/
**/ .next/

# Production build outputs
dist/
build/
**/dist/
**/build/

# IDE files and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
